<aside class="sidebar left-sidebar sticky {{ if .Site.Params.sidebar.compact }}compact{{ end }}">
    <header>
        {{ with .Site.Params.sidebar.avatar }}
            {{- $avatar := partial "helper/image" (dict "Image" . "Resources" resources "Context" $) -}}
            <figure class="site-avatar">
                <a href="{{ $.Site.Home.RelPermalink }}">
                    <img src="{{ $avatar.Permalink }}" 
                        width="{{ $avatar.Width }}"
                        height="{{ $avatar.Height }}"
                        class="site-logo"
                        loading="lazy"
                        alt="Avatar">
                </a>
            </figure>
        {{ end }}

        <div class="site-meta">
            <h1 class="site-name"><a href="{{ .Site.Home.RelPermalink }}">{{ .Site.Title }}</a></h1>
            <h2 class="site-description">{{ .Site.Params.sidebar.subtitle }}</h2>
        </div>
    </header>

    {{- with .Site.Menus.social -}}
        <ol class="menu-social">
            {{ range . }}
                <li>
                    <a 
                        href='{{ .URL }}'
                        target="_blank"
                        {{ with .Name }}title="{{ . }}"{{ end }}
                        rel="me noopener noreferrer"
                    >
                        {{ $icon := default "link" .Params.Icon }}
                        {{ with $icon }}
                            {{ partial "helper/icon" . }}
                        {{ end }}
                    </a>
                </li>
            {{ end }}
        </ol>
    {{- end -}}

    {{ partial "sidebar/widgets.html" (dict "Context" . "Scope" "left") }}
</aside>
